APP_NAME=Template App
APP_DISPLAY_NAME=Template App
ANDROID_APPLICATION_ID=com.template.app.dev
ANDROID_NAMESPACE=com.app
IOS_BUNDLE_ID=com.template.app.dev
API_URL=https://api.dev.example.com
GOOGLE_WEB_CLIENT_ID=
