APP_NAME=Example App
APP_DISPLAY_NAME=Example App
ANDROID_APPLICATION_ID=com.example.app.dev
IOS_BUNDLE_ID=com.example.app.dev
GRAPHQL_API_URL=https://api.example.com/graphql
GOOGLE_WEB_CLIENT_ID=
GOOGLE_REVERSED_CLIENT_ID=